/Chuabai/nbproject/private/
/Chuabai/build/
/SimpleCalculator/nbproject/private/
/SimpleCalculator/build/
/Lesson02/nbproject/private/
/HocLaiBuoi1/nbproject/private/
/HocLaiBuoi1/build/
/Lesson03/nbproject/private/
/Lesson03/build/
/Lesson04/nbproject/private/
/Lesson04/build/
/Lesson05/nbproject/private/
/Lesson05/build/
/Lesson06/nbproject/private/
/Lesson07/nbproject/private/
/Lesson07/build/